In Jupyter, if you put a value on the last line of the cell and run the cell, the value will be printed below the cell:

In [1]:
# this line is a comment, which Python will ignore
3.1415926535897932

3.141592653589793

Values can be used in expressions:

In [2]:
3 + 7

10

There are several types of values including strings. Strings are quoted:

In [3]:
'pandas'

'pandas'

Assign a value to a variable using "="

In [4]:
a = 3
a

3

Variable names can include characters such as "_" (but not ".")

In [5]:
some_variable = 'some value'
some_variable

'some value'

Variables can be used in expressions:

In [6]:
a + 2

5

In [7]:
a + a

6

You can use various types of values in expressions:

In [8]:
a = 'pandas'
a + '?'

'pandas?'

In [9]:
# this example raises an error because you can't add a number to a string
try:
    'pandas' + 3
except TypeError as e:
    print(e)

must be str, not int

In [10]:
# converting a number to a string works
'pandas' + str(3)

'pandas3'

Lists are sequences of values

In [11]:
# create list with brackets and commas
a = [1, 1, 2, 3, 5, 8, 13]

Lists are indexed with consecutive integers starting with zero

In [12]:
# access list items by index
a[5]

8

Slices allow you to access parts of lists within a certain index range

In [13]:
# access "slices"
a[3:7]

[3, 5, 8, 13]

In [14]:
# leaving the left side of the slice unspecified
# starts the slice at the beginning of the list
a[:4]

[1, 1, 2, 3]

In [15]:
# leaving the right side of the slice unspecified
# ends the slice at the end of the list
a[2:]

[2, 3, 5, 8, 13]

In [16]:
# using negative indexes relative to end of list
a[-2] # second to last element

8

In [17]:
# combining relative and absolute indexing
a[2:-2]

[2, 3, 5]

You can assign to parts of a list using indexing and slicing

In [18]:
# setting values by index
a[0] = 7
a

[7, 1, 2, 3, 5, 8, 13]

In [19]:
# setting values by slice
a[0:3] = [99, 100, 101]
a

[99, 100, 101, 3, 5, 8, 13]

An item in a list can be of any type

In [20]:
# non numeric lists
b = ['Alice','Bob','Trent']
b[:2]

['Alice', 'Bob']

In [21]:
# mix of different kinds of Python objects
b = ['Alice', 5, a]
b

['Alice', 5, [99, 100, 101, 3, 5, 8, 13]]

In [22]:
b[2]

[99, 100, 101, 3, 5, 8, 13]

Conditionals allow you to compare values

In [23]:
# testing with ==
b[0] == 'Alice'

True

In [24]:
b[0] == 32

False

Functions are called using the name of the function and arguments in parentheses

In [25]:
# return the length of a
len(a)

7

In [26]:
# return the absolute value of -12
abs(-12)

12

Some objects, such as strings, provide functions that you can call on them.
To do this, use "." to separate the variable name from the function call.

In [27]:
name = 'alice'
name.upper()

'ALICE'

Some functions are contained in libraries, which must be imported.

In [28]:
# using libraries
import random

random.normalvariate(0,1)

0.20085154762650415

Libraries can include complex objects; for example the `datetime` library provides a data structure representing dates and times.

In [29]:
# complex objects
from datetime import datetime

my_time = datetime.now()
my_time

datetime.datetime(2019, 7, 18, 15, 13, 48, 342689)

In [30]:
# "." can be used to refer to a property of an object (no parentheses)
# we know a priori that a datetime has a property called "month"
my_time.year

2019

You can define your own functions in Python, in fact that is a good practice to follow.

In [31]:
# defining a function
# the body of the function is indented
# it does not run until the function is called
# the name "n" in this function is an argument
# when calling a function, include a value for the argument(s) if any

def add_three(n):
    return n + 3

add_three(7)

10

You can pass the result of a function to another function. This is called "composition".

In [32]:
# function composition using nesting

# this
spt = add_three(7)
add_three(spt)

# is equivalent to this
add_three(add_three(7))

13

There are two kinds of function arguments: positional and keywords.

In [33]:
# functions can take optional named arguments called "keywords"
# in this case "word" is positional and "prefix" is a keyword

def print_word(word, prefix='hello, '):
    print(prefix + word)

print_word('Alice', prefix='a person named ')

a person named Alice

In [34]:
# omitting a keyword uses the defined default value
print_word('Alice')

hello, Alice

To perform an operation on every element of a list, use a loop.

In [35]:
# loops use the "for ... in" construction
# the body of a loop is indented, it runs multiple times
# i takes on successive values from a
for i in [100, 200, 300, 400, 500]:
    print(add_three(i))

103
203
303
403
503

To execute code conditionally, use "if":

In [36]:
# the body of a conditional is indented
# it only runs if the conditional expression is True
# here we see two levels of indentation, one for the loop,
# and one for the conditional

my_list = [50, 23, 14, 12, 74]

for n in my_list:
    if n > 25:
        print(n, 'is greater than 25')

50 is greater than 25
74 is greater than 25

In [37]:
# conditional expressions can be complex using "and" and "or"
for n in my_list:
    if n > 10 and n < 25:
        print(n)

23
14
12